# This config file is parsed with ConfigObj. Unrepr mode is on, which means that
# strings must be quoted, but integers and True/False/None representations work with
# normal Python syntax.

[general]
daemon = True   # Daemonize?
pidfile = "manager.pid"     # Path to PID file

[queue]
queue_name = "chef-client-deregistration-queue" # Queue Name to read
queue_id = "ID_NAME"    # A more specific Queue ID (for multiple queues with the same name)
# poll_interval = 15    # How often the main loop wakes up and checks for messages, in seconds

[aws]
access_key =  "ACCESS_KEY"  # Specifically for SQS-type queues
secret_key =  "SECRET_KEY"

[nagios]
# use = True    # If true, this will schedule downtime
# host = "monitor"  # The nagios server running the web interface
# username = "cgiservice" # A valid user against cgi-bin
password = ""

[chef]
# host = "localhost"    # The server running the API
# key = "client.pem"    # The client Key
# client = None         # The client

